.all-posts-are-displayed {
  text-decoration: none;
  font-weight: 400;
}
.pagetitle {
  position: absolute;
  text-transform: lowercase;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Times New Roman", Times, serif;
  font-size: 15vw;
  text-align: center;
  color: white;
  width: 100%;
}
.post-count {
  display: block;
  padding-top: 5rem;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.archive-result-section {
  background-color: white;
  /* padding: 3rem; */
}
.archive-result-section .grid-display {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem 2rem 2rem;
}
.archive-result-section article {
  background-color: #e4eaf7;
  gap: 1rem;
}
.archive-result-section figure {
  display: flex;
}
.sorting-options {
  padding: 1rem;
  margin-right: 1rem;
}
#sort-sub-category {
  border-width: 0;
  border-style: none;
  border-color: none;
  font-size: 1rem;
}
#sort-year,
#sort-author {
  border-width: 0 0 0 2px;
  border-style: solid;
  border-color: black;
  font-size: 1rem;
}
.sorting-box {
  display: flex;
  border-width: 2px 0;
  border-style: solid;
  border-color: black;
  background-color: white;
}
.sorting-header {
  text-transform: uppercase;
  font-size: 1.5rem;
  background-color: white;
  padding: 2rem 0.8rem 1rem 0.8rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
@media (min-width: 400px) {
  /* .pagetitle {
    font-size: 4rem;
  } */
}

@media (min-width: 470px) {
  /* .pagetitle {
    font-size: 5rem;
  } */
}
@media (min-width: 730px) {
  /* .archive-result-section {
    padding: 5rem;
  } */
  .archive-result-section .grid-display {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .archive-result-section article:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .archive-result-section article:first-of-type figure {
    display: flex;
    margin-top: auto;
  }
  .archive-result-section article {
    width: auto;
    background-color: #eef1e9;
    filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.1));
  }
}
/* flytt/flyttet til nav/test
@media (min-width: 1000px) {
  .header-general,
  .pagetitle {
    display: none;
  }
} */
@media (min-width: 1130px) {
  .archive-result-section .grid-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .archive-result-section figure {
    display: flex;
    margin-top: auto;
  }
  .archive-result-section article:first-of-type {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid-design-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .grid-design-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .grid-design-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .grid-design-4 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
