/* footer */
.some-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef1e9;
  padding: 2rem;
}
.some-cta {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #53584a;
  font-size: 5vw;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}
.some-icons a {
  color: #53584a;
  padding: 1rem;
  margin: 0 0.3rem;
  display: inline-block;
}
.some-icons i {
  font-size: 1.5rem;
}
.logo-footer-wrapper {
  display: block;
  padding: 4rem 2rem;
  text-align: center;
}
.logo-gray-footer img {
  width: 40vw;
  object-fit: cover;
}
@media (min-width: 500px) {
  .logo-gray-footer img {
    width: 30vw;
    filter: none;
  }
  .some-cta {
    font-size: 4vw;
  }
}
@media (min-width: 800px) {
  .some-footer-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    height: 150px;
  }
  .some-icons i {
    font-size: 2rem;
  }
  .some-cta {
    font-size: 2vw;
  }
}
@media (min-width: 1000px) {
  .some-footer-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    height: 200px;
  }
  .some-icons i {
    font-size: 2.5rem;
  }
}
