@import url("/css/navbar.css");
@import url("/css/footer.css");
@import url("/css/post-previews.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.175));
  background-color: #edf0f9;
}
.grid-display {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.more-btn {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 0.9rem;
  text-align: center;
  display: block;
  padding: 2rem 0;
}
.directory {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 0.7rem;
  display: block;
  padding: 0.5rem 1rem;
  background-color: white;
}
.directory a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1300px) {
  .more-btn {
    font-size: 1.1rem;
  }
}
@media (min-width: 1600px) {
  body {
    margin-top: 2rem;
  }
}
