/* Navbar index spesific */
.header-display-index {
  display: flex;
}
.header-img-index {
  width: 100%;
}
.logo-big-index {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.newsletter-signup-index {
  text-align: center;
  font-weight: 600;
  background-color: white;
}
.newsletter-signup-index a {
  display: block;
  color: black;
  padding: 0.3rem 1rem;
}
.header-display-index.active,
.newsletter-signup-index.active {
  display: none;
}
.logo-mobile-index {
  display: none;
}
.logo-mobile-index.active {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
.logo-mobile-index img {
  width: 6rem;
}

.prev-btn,
.next-btn {
  display: none;
}
@media (min-width: 1000px) {
  .header-display-index,
  .newsletter-signup-index {
    display: none;
  }
}

/* sections */
.newly-published-section {
  background-color: #e4eaf7;
  padding: 2rem 1rem;
}
.popular-topics-section {
  background-color: white;
  padding: 3rem;
}
.about-us-section {
  background-color: #f5f5f5;
  padding: 4rem 2rem 2.7rem 2rem; /* er lik 2rem mellom, 4 over og 4 under + 1 i gap */
}

/* convert to all h1?? if applicable later on*/
.newly-published-section h1,
.popular-topics-section h1 {
  text-align: center;
  margin: 2rem 0 3rem 0;
  font-size: 2rem;
}

.about-us-section h1 {
  text-align: center;
  margin-bottom: 0.7rem;
  font-size: 2rem;
}
.grid-display {
  display: grid;
  justify-content: center;
  gap: 1.5rem;
}

.more-btn {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: black;
  font-size: 0.9rem;
  text-align: center;
  display: block;
  padding: 2rem 0;
}

/* about us */
.about-us-section article {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}
.about-us-section figure {
  display: none;
}
@media (min-width: 490px) {
  .popular-topics-section {
    padding: 4rem;
  }
}

@media (min-width: 600px) {
  /* -------- popular topics-section ---------- */
  .newly-published-section,
  .popular-topics-section {
    padding: 5rem;
  }
  .grid-display {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .popular-topics-section article:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .popular-topics-section article:first-of-type figure {
    display: flex;
    margin-top: auto;
  }
}
@media (min-width: 750px) {
  .slider {
    width: 580px;
  }
  /* -------- carousel ---------- */
  .slider {
    display: flex;
    /* max-width: 1000px; */
    gap: 2rem;
    justify-content: start;
    padding: 2rem;
    scroll-behavior: smooth;
    transition: all 0.25s ease-in;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .prev-btn,
  .next-btn {
    display: block;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
  }
  .prev-btn i,
  .next-btn i {
    font-size: 3rem;
    color: white;
  }
  .prev-btn i:hover,
  .next-btn i:hover {
    color: rgb(190, 194, 226);
  }
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .slider article {
    /* max-width: none; */
    filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.15));
    scroll-snap-align: center;
    min-width: 250px;
    max-width: 250px;
  }
  .slider figure {
    height: 130px;
    order: 1;
  }
  .slider article h2 {
    order: 2;
    padding: 1rem 0;
  }
  .slider .continue-btn {
    order: 3;
  }
}

@media (min-width: 800px) {
  article h2 {
    font-size: 1.3rem;
  }

  /* -------- about us-section ---------- */
  .about-us-section {
    padding-bottom: 4rem; /* er lik 4rem mellom, 4 over og 4 under + 1 i gap */
  }
  .about-us-section h1 {
    margin-bottom: 2.7rem;
  }
  .about-us-section .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    gap: 2rem;
  }
  .about-us-section figure {
    display: flex;
    height: auto;
  }
  .about-us-section article {
    max-width: none;
  }
}

@media (min-width: 900px) {
  /* -------- carousel ---------- */
  .slider figure {
    height: 175px;
  }

  /* -------- popular topics-section ---------- */
  .popular-topics-section .grid-display {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .popular-topics-section figure {
    display: flex;
    margin-top: auto;
  }
}

@media (min-width: 950px) {
  .slider {
    width: 860px;
  }
}

@media (min-width: 1300px) {
  .slider {
    width: 1150px;
  }
}
