/* Navbar general-mobile */
.header-general {
  display: flex;
}
.header-img-general {
  width: 100%;
}

/* jS */
.hamburger-toggle {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  font-size: 1.3rem;
  color: black;
}
.modal {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  background: rgb(255, 255, 255);
  transition: all ease 0.5s;
  border: none;
  position: fixed;
}

.closeBtn:hover {
  color: rgb(80, 50, 50);
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.174);
  cursor: pointer;
}

/* -----------NAVBAR------------- */
ul {
  list-style-type: none;
}
nav {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}
nav a {
  text-decoration: none;
}
nav li:hover {
  background-color: rgb(118, 118, 118);
}
.logo-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
.logo-mobile img {
  width: 6rem;
}
.nav-item-stand,
.nav-item-cat {
  text-transform: uppercase;
}
.navbar-standard,
.navbar-categories {
  display: block;
}
.nav-item-stand a,
.newsletter-signup a {
  display: block;
}
.navbar-standard {
  background-color: white;
}
.navbar-categories {
  background-color: rgb(134, 134, 134, 0.5);
}
.navbar-standard a {
  color: black;
  padding: 0.3rem 1rem;
}
.newsletter-signup {
  text-align: center;
  font-weight: 600;
}
.navbar-categories a {
  color: white;
  display: block;
  padding: 0.3rem 1rem;
  font-weight: 500;
  text-align: right;
}
.navbar-standard li,
.navbar-categories li {
  padding: 0.3rem 0;
}
.icon-links,
.header-display {
  display: none;
}

/* Navbar index spesific */
.header-display-index {
  display: flex;
}
.header-img-index {
  width: 100%;
}
.logo-big-index {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.501));
}
.newsletter-signup-index {
  text-align: center;
  font-weight: 600;
  background-color: white;
}
.newsletter-signup-index a {
  display: block;
  color: black;
  padding: 0.3rem 1rem;
}
/* .logo-mobile-index {
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
}
.logo-mobile-index img {
  width: 6rem;
} */

@media (min-width: 800px) {
  .hamburger-toggle,
  .logo-mobile,
  .header-display-index,
  .newsletter-signup-index,
  .logo-mobile-index,
  .header-general,
  .pagetitle {
    display: none;
  }
  dialog,
  .navbar-standard,
  .navbar-categories,
  .nav-icon-stand {
    display: block;
  }
  .modal {
    position: relative;
  }
  .nav-icon-stand a {
    display: inline-block;
  }
  .navbar-categories-alignement {
    display: grid;
    grid-template-columns: 170px 170px 170px;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0 5rem;
  }
  .navbar-standard-alignment {
    display: grid;
    grid-template-columns: 270px 1fr 270px;
    align-items: center;
  }
  .navbar-standard a {
    text-align: center;
    width: 100%;
  }
  .navbar-categories {
    padding: 0.3rem 1rem;
  }
  .navbar-standard {
    padding: 0.6rem;
  }
  .navbar-categories a {
    text-align: center;
  }
  .logo-big {
    display: block;
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.501));
  }
  .header-display {
    position: relative;
    display: flex;
    max-height: 400px;
    overflow: clip;
  }
  .header-img {
    width: 100%;
    height: 100%;
  }
  .standard-links,
  .icon-links {
    display: flex;
    align-items: center;
  }
  .icon-links {
    width: 205px;
    margin-left: auto;
    gap: 20px;
  }
  .navbar-standard li {
    padding: 0;
  }
  .nav-icon-stand i {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  .navbar-categories-alignement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }
  /* usikker på om disse er plassert riktig */
  .header-display-index,
  .newsletter-signup-index {
    display: none;
  }
}
@media (min-width: 1100px) {
  .navbar-categories {
    padding: 0.7rem 4rem;
  }
  .navbar-categories-alignement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }
}
@media (min-width: 1300px) {
  .navbar-standard {
    padding: 0.8rem 4rem;
  }
}
@media (min-width: 1400px) {
  .navbar-categories-alignement {
    gap: 3rem;
  }
}
@media (min-width: 1600px) {
  .standard-links,
  .newsletter-signup {
    font-size: 1.1rem;
  }
  .navbar-categories {
    font-size: 1.2rem;
  }
}
