/* -----------NAVBAR------------- */
ul {
  list-style-type: none;
}
nav {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
nav a {
  text-decoration: none;
}
.navbar li:hover {
  background-color: rgb(118, 118, 118);
}
.logo-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
.logo-mobile img {
  width: 6rem;
}
.hamburger-toggle {
  position: absolute;
  top: 0.9rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17.5px;
  width: 40px;
}
.bars {
  height: 2px;
  width: 100%;
  background-color: black;
}
.nav-item-stand,
.nav-item-cat {
  text-transform: uppercase;
}
.navbar-standard,
.navbar-categories {
  display: none;
}
.navbar-standard.active,
.navbar-categories.active,
.nav-item-stand a,
.newsletter-signup a {
  display: block;
}
.navbar-standard {
  background-color: white;
}
.navbar-categories {
  background-color: black;
}
.navbar-standard a {
  color: black;
  padding: 0.3rem 1rem;
}
.newsletter-signup {
  text-align: center;
  font-weight: 600;
}
.navbar-categories a {
  color: white;
  display: block;
  padding: 0.3rem 1rem;
  font-weight: 500;
  text-align: right;
}
.navbar-standard li,
.navbar-categories li {
  padding: 0.3rem 0;
  width: 100%;
}
.line-separation,
.icon-links,
.header-display {
  display: none;
}

@media (min-width: 830px) {
  .hamburger-toggle,
  .logo-mobile {
    display: none;
  }
  .navbar-standard,
  .navbar-categories,
  .line-separation,
  .nav-icon-stand {
    display: block;
  }
  .nav-icon-stand a {
    display: inline-block;
  }
  .line-separation {
    height: 30px;
    width: 10px;
    background-color: white;
  }
  .navbar-standard-alignment {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .navbar-categories-alignement {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  .navbar-standard a {
    text-align: center;
    width: 100%;
  }
  .navbar-categories,
  .navbar-standard {
    padding: 0.4rem;
  }
  .navbar-categories a {
    text-align: center;
  }
  .logo-big {
    display: block;
    width: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-display {
    position: relative;
    display: flex;
  }
  .header-img {
    width: 100%;
  }
  .standard-links,
  .icon-links {
    display: flex;
    gap: 5px;
  }
  .navbar-standard li {
    padding: 0;
  }
}
