/* modal */
.img-modal {
  display: flex;
  width: 70%;
  max-width: 100%;
  max-height: 100%;
  background: rgb(255, 255, 255);
  transition: all ease 0.5s;
  border: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  outline:none
}
.img-modal .closeBtn {
  margin-right: 0;
  margin-left: auto;
  padding: 1rem;
  font-size: 1.3rem;
}
.img-modal img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* blogpost */
h1 {
  text-align: center;
}
.blogpost-section {
  background-color: white;
  padding: 1rem 1rem 2rem 1rem;
}
.post-title {
  background-color: #e4eaf7;
  padding: 1.5rem;
  border-radius: 30px 30px 0 0;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.post-body {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 0 0 30px 30px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.post-info-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.filter-data,
.author {
  display: none;
}
.meta-data {
  font-weight: 200;
  font-size: 0.8rem;
}
.share-CTA a {
  color: black;
  font-weight: 700;
  font-size: 0.9rem;
}
figcaption {
  font-weight: 200;
  font-size: 0.8rem;
}
.post-copy-section {
  padding: 2rem 0;
}
.post-img {
  height: 400px;
  cursor: pointer;
}

/* comment-section */
.comment-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.view-more-comments-CTA {
  background-color: #8b786a;
  color: white;
}

/* same on the contact page */
.send-CTA {
  background-color: #aea7a2;
  color: rgb(255, 255, 255);
  border: none;
  margin-top: 1rem;
}
label {
  font-size: 0.8rem;
}
label:last-of-type {
  margin-top: 0.5rem;
}
.post-comment-section.active {
  background-color: #9b9696;
}
.fa-chevron-down.active {
  transform: rotate(180deg);
}
.open-comment-section,
.formelement {
  display: none;
}
.formelement.active {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #e5e4e4;
  border-radius: 15px;
  gap: 0.5rem;
}
.open-comment-section.active {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
}
.comment-content {
  padding-top: 0.5rem;
}
.comment-form {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 0.5rem;
}
.formelement h4 {
  margin: 0.5rem 0 1rem 0;
}
.new-comment-field {
  border: 0.07rem solid #72482b;
  padding: 0.6rem 0.6rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 0.8rem;
}
.no-comments {
  text-align: center;
  font-style: italic;
}
/* same for the contact page */
.view-more-comments-CTA,
.send-CTA {
  font-weight: 200;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  padding: 0.5rem;
  cursor: pointer;
}

/* related post section */
.related-posts-section {
  background-color: white;
}
.related-posts-section .grid-display {
  background-color: white;
  padding: 3rem 3rem 1rem 3rem;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.related-posts-section article {
  background-color: #eef1e9;
  /* filter: drop-shadow(4px 5px 5px rgba(0, 0, 0, 0.1)); */
  gap: 1rem;
}
.related-posts-title {
  background-color: #f9f9f9;
  border-top: 1.5px solid #000;
  border-bottom: 1.5px solid #000;
  text-align: center;
  padding: 1rem;
}
h3 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 450px) {
  .blogpost-section {
    padding: 0rem 2rem 2rem 2rem;
  }
  .post-body {
    padding: 2rem;
  }
}
@media (min-width: 600px) {
  .blogpost-section {
    padding: 0rem 3rem 3rem 3rem;
  }
  .post-body {
    padding: 1.5rem 3rem 3rem 3rem;
  }
  .post-title {
    padding: 3rem;
  }

  /* same for the contact page */
  .view-more-comments-CTA,
  .send-CTA {
    padding: 0.8rem;
  }
}
@media (min-width: 800px) {
  .related-posts-section .grid-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  .related-posts-section {
    padding-bottom: 2rem;
    padding-top:1rem;
  }
  .blogpost-section {
    padding-bottom: 7rem;
  }
  .post-copy-section {
    padding-bottom: 4rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .post-title {
    padding: 4rem;
  }
}
