.continue-btn {
  align-self: end;
}
.popular-posts-section article {
  grid-template-rows: 1fr 200px auto auto;
}
.newly-published-section article {
  grid-template-rows: 1fr auto auto;
}
article {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1.3rem;
}
article h2 {
  font-size: 1.1rem;
}
article p,
article a,
.publish-date {
  color: black;
  font-size: 0.8rem;
  font-weight: 200;
}
.figure-general {
  height: 100px;
}
figure img {
  width: 100%;
  object-fit: cover;
}
.post-info {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 350px) {
  .popular-posts-section article {
    grid-template-rows: 1fr 140px auto auto;
  }
}
@media (min-width: 450px) {
  .popular-posts-section article {
    grid-template-rows: 1fr 120px auto auto;
  }
}
@media (min-width: 500px) {
  .popular-posts-section article {
    grid-template-rows: 1fr 100px auto auto;
  }
}
@media (min-width: 600px) {
  .popular-posts-section article {
    grid-template-rows: 1fr 200px auto auto;
  }
  .popular-posts-section article:first-of-type {
    grid-template-rows: 1fr auto auto auto;
  }
}
@media (min-width: 700px) {
  .popular-posts-section article {
    grid-template-rows: 1fr 150px auto auto;
  }
}
@media (min-width: 800px) {
  article h2 {
    font-size: 1.3rem;
  }
  article a,
  article p,
  .publish-date {
    font-size: 0.9rem;
  }
  .related-posts-section article {
    grid-template-rows: 1fr 230px auto auto;
  }
}
@media (min-width: 1000px) {
  .popular-posts-section article {
    grid-template-rows: 1fr 120px auto auto;
  }
  .related-posts-section article {
    grid-template-rows: 1fr 160px auto auto;
  }
  /* article a,
  article p,
  .publish-date {
    font-size: 1rem;
  } */
}
@media (min-width: 1130px) {
  .popular-posts-section article,
  .popular-posts-section article:first-of-type {
    grid-template-rows: 1fr 170px auto auto;
  }
  .newly-published-section article {
    grid-template-rows: auto 1fr auto;
  }
}
@media (min-width: 1600px) {
  article a,
  article p,
  .publish-date {
    font-size: 1rem;
  }
  article h2 {
    font-size: 1.5rem;
  }
}
